@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

body {
    overflow: hidden;
  }

/* Add to index.css or global styles */
.perspective {
  perspective: 1000px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
